h1 Hello SyntaxHighlighter
pre class="brush: js;"
  | function helloSyntaxHighlighter()
    {
      return "hi!";
    }
pre class="brush: csharp;"
  | function helloSyntaxHighlighter()
    {
      return "hi!";
    }
pre class="brush: java;"
  | function helloSyntaxHighlighter()
    {
      return "hi!";
    }